<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/black.css">
	<script src="https://kit.fontawesome.com/f8ad50bee4.js" crossorigin="anonymous"></script>
    <title></title>
</head>

<body>
    <div class="find_Area" >
        <div class="find_friends">
            <div class="find_header">
                <h3 style="text-align: center; margin-top: 10px;">친구 찾기</h3>
            </div>
            
            <div class="search_Area" style="margin-top: 20px;margin-bottom: 30px;">

                <form action="/search" method="POST">
                    <input type="text" id="email_input" name="email" placeholder="상대방의 이메일을 입력해주세요.">
                    <button id="search" type="submit">검색</button>
                </form>
                    
                

               
            </div>

            <div class="friends_List">
                     
            </div>
            <button id="cancel_Btn1">나가기</button>
        </div>
    </div>
    <div class="main">
        <div class="sidebar">
            <div class="sidebar_header">
                <h3> <b>친구</b> </h3>
                <i class="fa-solid fa-user-plus"></i>
            </div>
            <div class="sidebar_friendsList">
                <div class="me">
                    <i class="fa-regular fa-circle-user"></i>
                    <i> <b><%= userInfo.nickname %></b> </i>
                </div>
                <hr width=”80%” color=”lightgray” noshade />
                <div class="friends">
                    <ul>

                        <% for(var i = 0; i < userInfo.friends.length; i++){ %>
                            <li>
                                <i class="fa-regular fa-circle-user"></i>
                                <i><%= userInfo.friends[i] %></i>
                            </li>
                        <% } %>

                
                    </ul>
                </div>

            </div>
            <div class="sidebar_footer">
                <i class="fa-regular fa-user"></i>
                <i class="fa-regular fa-comment"></i>
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </div>
        <div class="chat_area">
            <div class="chat_area_header">
                <i> <b>친구 1의 채팅방</b> </i>
            </div>
            <div class="chat_area_chatContent">
                <ul class="list-group chatcontent">

                    <li><span class="chat-box mine">안녕!</span></li>
                    
                    <li>
                        <span class="opponent">
                            <i class="oppo_nickname">친구 1</i>
                            <br>
                            <span class="chat">
                                <span class="chat-box">안녕하세요.</span>
                                <span class="mt-1 chat-box">관리자님</span>
                                
                            </span>
                            
                        </span>
                    </li>
                    
                    <li><span class="chat-box mine">안녕! 친구1</span></li>
                </ul>
            </div>
            <div class="chat_area_footer">
                <input id="chat-input">
                <button id="send">전송</button>


            </div>
        </div>
            
    </div>

    
    
    
    

    

    <!-- jQeury install -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <!-- JavaScript -->
    <script src="/public/main.js"></script>
    <script>
        $('.fa-user-plus').click(function(){
            $('.find_friends').css('display', 'block');
        })

        $('#cancel_Btn1').click(function(){
            $('.find_friends').css('display', 'none');
        })


        $('.find_friends').css('margin-bottom', -(window.innerHeight/2)-400)
        window.onresize = function() {
            $('.find_friends').css('margin-bottom', -(window.innerHeight/2)-400)
            
        }

        var addFriendName = '';

        $('#search').click(function(){
            var eventSource;
            eventSource = new EventSource('/search');
            eventSource.addEventListener('friendInfo', function (e){
                
                if (e.data == '해당 이메일로 가입한 유저가 없습니다.'){
                    $('.friends_List').html('')
                var friend = `<ul>
                        <li>
                            <i>${e.data}</i>
                        </li>
                        
                    </ul> `
                $('.friends_List').append(friend);
                    
                } else {
                    addFriendName = JSON.parse(e.data).nickname
                    console.log(addFriendName);
                    $('.friends_List').html('')
                    var friend = `<ul>
                            <li>
                                <i class="fa-regular fa-circle-user"></i>
                                <i>${JSON.parse(e.data).nickname}</i>
                                <button class="friend_add_Btn">추가</button>
                            </li>
                            
                        </ul> `
                    $('.friends_List').append(friend);
                }
                
                

                if (eventSource != undefined){ //이벤트 소스라는 변수에 무언가 저장되어 있다면 닫아라
                    eventSource.close();
                }
                
            });

            // 

        })

        $('.friends_List').click(function(e){
            if (e.target == document.getElementsByClassName('friend_add_Btn')[0]){
                $.ajax({
                method: 'post',
                url: '/addfriend',
                data: {nickname: addFriendName}
                    }).done(function (result) {
                        //성공시 실행 할 코드
                        console.log('성공');
                        location.reload();
                        // Window.stop()
                    }).fail(function (error) {
                        //실패시 실행 할 코드
                        console.log('실패');
                });
            }
            
            
        })
        
        
    </script>
    

    <!-- bootstrap install -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>

</body>

</html>