:root {
    /* color */
    --sidebar-color: rgb(0, 0, 0);
    --sidebar-footer-color: rgb(19, 19, 20);
   
    --chat-color: rgb(31, 31, 33);
    --chat-header-color: rgb(35, 35, 41);
    --chat-footer-color: rgb(35, 35, 41);

    --text-button-color: rgb(165, 165, 165);
    --button-color: rgb(105, 108, 115);

    --text-color: rgb(159, 159, 159);
}

body{
    /* background-color: var(--main-color); */
    height: 100%;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

.fa-regular, .fa-solid{
    font-size: 30px;
    margin-right: 5px;
}

.fa-user-plus, .fa-comment-medical{
    font-size: 20px;
     margin-right: 10px;
}

.main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

/* sidebar */

.sidebar{
    width: 300px;
    margin-right: 20px;
    /* box-shadow: 5px 5px 5px; */
}

.sidebar_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sidebar-color);
    color: white;
    padding-bottom: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px;
}

.sidebar_friendsList, .sidebar_chatsList, .sidebar_settingList{
    
    height: 800px;
    background-color: var(--sidebar-color);
    color: white;
    padding: 5px;
    overflow-y: scroll;
}

.me{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.me .fa-regular{
    font-size: 40px;
}

.friends li{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar_footer{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: var(--sidebar-footer-color);
    color: var(--text-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* chat */

.chat_area{
    display: flex;
    flex-direction: column;
    width: 600px;
    /* height: 800px; */
    overflow-y: scroll;
    /* box-shadow: 5px 5px 5px; */
}

.chat_area_header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    background-color: var(--chat-header-color);
    color: var(--text-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 20px;
}

.chat_area_chatContent{
    height: 800px;
    overflow-y: scroll;
    background-color: var(--chat-color);
    padding: 0 10px;

}

.chatcontent li{
    list-style: none;
    margin-top: 10px;
}

.chat-box{
    background: #eee;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
    
    
}

.oppo_nickname{
    color: var(--text-color);
}

.opponent{
    float: left;
    display: flex;
}

.chat{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.mine{
    float: right;
    /* margin-left: -20px; */
}

.chat_area_footer{
    width: 600px;
    height: 50px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--chat-footer-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#chat-input{
    width: 530px;
    padding: 3px 0;
    border: none;
    border-radius: 5px;
}

#send{
    float: right;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: white;
}

.chatInfo{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.chats li .fa-circle-user{
    font-size: 45px;
}

.chats li{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.sidebar_footer > .fa-regular, .fa-solid{
    padding: 10px;
    margin: 0;
}

.chat_opponent{
    font-weight: bold;
    font-size: 18px;
}

.chat_lastContent{
    font-size: 13px;
    color: gray;
}